* {
    font-family: 'Press Start 2P', cursive;
  }
   
  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
  }
   
  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/*  h1{
      background-color: blue;
      color: rosybrown;
  }
  #score {
      color:seagreen;
  }
  #lines {
      color:seagreen;
  }
  #level {
      color: seagreen;
  }*/
   
  .gameBoard {
    border: solid 2px;
  }
   
  .playButton {
    background-color: #2d1feb;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
  }